---
layout: archive

---

<ul>
  <a href="http://127.0.0.1:4000/biography/"><button class="button button--tertiary button--icon button--icon-hover">
    Biography
  </button></a>

  <a href="http://127.0.0.1:4000/design/">  <button class="button button--tertiary button--icon button--icon-hover">
      Design Work
    </button></a>



</ul>




<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Issue 1. Summer 2018. The Summer So Far. Bricoloage and UX Design" }}</h3>



<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|PT+Sans|Poppins|Shrikhand" rel="stylesheet">




{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
